.teal {
    background-color: teal;
    color: white;
}

.page_header {
    padding: 10px;
    text-align: center;
}

.section {
    padding: 10px;
}

button {
    background-size: cover;
    border: 0;
    color: white;
    padding: 1px 1px;
    text-align: center;
    text-decoration: none;
}

#close_nav_button {
    background-size: cover;
    background-color: transparent;
    border: 0;
    color: black;
    padding: 1px 1px;
    text-align: center;
    text-decoration: none;
}

.navbar {
    color: white;
    background-color: rgb(200, 196, 196);
    display: inline-flex;
    padding: 1rem;
}

.bar-item {
    right: 0px;
    margin: 5px 5px 5px 5px;
}

a {
    color:rgb(87, 117, 142);
    margin-top: 5px;

}

div a:after {
    content:"";
    display:block;
    height: 0;
    width: 1px;
}